:root {
  --bg-color-1: #0a0a0a;
  --bg-color-2: #1c1c1c;
  --bg-color-3: #34233e;
  --bg-color-4: #ffffff;
  --bg-color-5: #878787;

  --bg-active: #2c532c;
  --bg-process: #7b5e29;
  --bg-inactive: #721212;
  --bg-terminate: #544f4f;

  --text-color-1: #d4d2d6;
  --text-color-2: #676968;
  --text-color-3: #b146f1;

  --border-color-1: #6e3391;
  --border-color-2: #2a2b2d;
  --bs-border-color: #2a2b2d !important;

  --border-active: #01d001;
  --border-process: #dc8e00;
  --border-inactive: #c60202;
  --border-terminate: #a6a3a3;

  --box-shadow-active: #00ff0085;
  --box-shadow-process: #8b7f00;
  --box-shadow-inactive: #dc1414;
  --box-shadow-terminate: #808080;

  --hr-line-color-1: #e0e0e04a;
}

hr {
  margin: 8px 0 !important;
}

@font-face {
  font-family: Rubik;
  src: url("../public/Rubik-Regular.ttf");
}

.main-dashboard-container {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  height: 100vh;
  display: flex;
  gap: 16px;
  padding: 16px 0 16px 16px;
  font-family: Rubik;
}

.main-sidebar-container {
  width: 50px;
  height: 100%;
  background-color: var(--bg-color-2);
}

.main-logo {
  width: 50px;
}

.sidebar-logo {
  margin-bottom: 15px;
}

.active {
  background-color: var(--bg-color-3);
  padding: 5px;
  border: 2px solid var(--border-color-1);
  border-radius: 5px;
  stroke: var(--border-color-1) !important;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-profile {
  padding-bottom: 5px;
}

.custom-side-profile {
  height: 30px !important;
  width: 30px !important;
  font-size: 10px !important;
}

/*                                      MAIN PAGE LAYOUT                                      */
.main-area-container {
  width: calc(100% - 66px);
  overflow-y: auto;
  padding-right: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-4);
  border-radius: 10px;
}

.main-page-layout-container {
  position: relative;
}

.layout-top-section {
  height: 600px;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
}

.top-left-section {
  width: 270px;
  height: 100%;
  background-color: var(--bg-color-2);
}

.tree-section-top hr {
  margin: 5px !important;
}

.top-right-section {
  width: calc(100% - 270px - 16px);
}

.showSession {
  transform: translateX(100%) !important;
}

.add-session-card {
  background-color: var(--bg-color-2);
  height: 200px;
  width: 270px;
  border-radius: 0 10px 10px 0px;
  border: 2px solid var(--border-color-2);
  position: absolute;
  top: 37%;
  left: -1px;
  z-index: 500;
  border-left: none;
  transform: translateX(0%);
  transition: 2s ease;
}

.add-session-card::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -40px;
  left: 0;
  height: 40px;
  width: 18px;
  border-top-left-radius: 50px;
  border-top: 2px solid var(--border-color-2);
  box-shadow: 0 -19px 0 0px var(--bg-color-2);
}

.add-session-card::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -40px;
  left: 0;
  height: 40px;
  width: 18px;
  border-bottom-left-radius: 50px;
  border-bottom: 2px solid var(--border-color-2);
  box-shadow: 0 19px 0 0px var(--bg-color-2);
  z-index: -1;
}

.add-session-text {
  font-size: 12px;
}

.add-session-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 0.8px - 16px - 18px);
}

.create-session-inputs {
  /* border: 2px solid font-variant: ;(--border-color-1) !important; */
  margin-bottom: 5px;
  width: 210px;
}

.right-section-head {
  height: 50px;
}

.name {
  font-size: 16px;
  font-weight: 400;
}

.config-flow {
  background-color: var(--bg-color-3);
  color: var(--text-color-3);
  padding: 0 2px;
  font-size: 12px;
}

.name-div-bottom {
  color: var(--text-color-2);
  font-size: 12px;
}

.view-div {
  background-color: var(--bg-color-2);
  padding: 0 3px 0px 2px;
  height: 39px;
  border: 2px solid var(--border-color-2);
}

.view-img {
  height: 20px;
  width: 20px;
  display: flex;
}

.view-img img {
  height: 100%;
  width: 100%;
}

.view-text-img {
  background-color: var(--bg-color-3);
  border: 2px solid var(--border-color-1);
  padding: 1px 5px;
}

.text-img {
  height: 17px;
  width: 17px;
  display: flex;
}

.text-img img {
  height: 100%;
  width: 100%;
}

.text span {
  font-size: 12px;
}

.right-section-bottom {
  height: calc(600px - 50px);
  background-color: var(--bg-color-2);
  background-image: radial-gradient(rgb(255 255 255 / 5%) 2px, transparent 0);
  background-size: 20px 20px;
  background-position: 5px 5px;
  overflow-y: auto;
}

.layout-bottom-section {
  display: flex;
  gap: 16px;
}

.bottom-section-left {
  background-color: var(--bg-color-2);
  background-image: radial-gradient(rgb(255 255 255 / 5%) 2px, transparent 0);
  background-size: 20px 20px;
  background-position: 0px 0px;
  height: 100%;
  width: 50%;
}

/* .MuiBox-root.css-0 {
  display: flex;
  justify-content: center;
}

path.link {
  fill: none;
  stroke: var(--text-color-1) !important;
} */

.bottom-section-right {
  background-color: var(--bg-color-2);
  width: 50%;
}

/*                                      MATERIAL UI COMPONENT TREE_VIEW                                      */
.css-1uzt4z9-MuiTreeItem2-root {
  color: var(--text-color-1) !important;
}

.css-mw75ty-MuiTreeItem2-content:hover {
  background-color: var(--bg-color-3) !important;
  color: var(--text-color-1) !important;
}

.css-1o70lwu-MuiTreeItem2-content.Mui-selected {
  background-color: var(--bg-color-3) !important;
}

.Mui-focused {
  background-color: var(--bg-color-3) !important;
  border: 2px solid var(--border-color-1);
}

.css-mw75ty-MuiTreeItem2-content.Mui-expanded:not(
    .Mui-focused,
    .Mui-selected,
    .Mui-selected.Mui-focused
  )
  .labelIcon {
  color: #878787 !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.labelIcon.MuiBox-root.css-j3q4p-MuiSvgIcon-root {
  color: #878787 !important;
}

.css-l91gdy {
  display: none !important;
}

.css-1o70lwu-MuiTreeItem2-content.Mui-focused,
.css-1o70lwu-MuiTreeItem2-content.Mui-selected,
.css-1o70lwu-MuiTreeItem2-content.Mui-selected.Mui-focused {
  border: 2px solid var(--border-color-1);
  color: var(--text-color-1) !important;
}

.css-d3xfzb-MuiTypography-root {
  font-family: Rubik !important;
}

.css-1o70lwu-MuiTreeItem2-content.Mui-expanded::before {
  background-color: var(--hr-line-color-1) !important;
}

.css-mw75ty-MuiTreeItem2-content.Mui-expanded::before {
  background-color: var(--hr-line-color-1) !important;
}

/*                                      SIMPLE TREE VIEW                                      */
.MuiTreeItem-label {
  font-size: 12px !important;
}

.MuiTreeItem-iconContainer {
  height: 20px !important;
  width: 20px !important;
}

.documentIcon .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/folder-open-svgrepo-com.svg);
}

.activeDocument .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/folder-active-svgrepo-com.svg);
}

.muteDocument .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/folder-block-svgrepo-com.svg);
}

.sessionIcon .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/cabinet-svgrepo-com.svg);
}

.promotedSession .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/projects-alt-svgrepo-com.svg);
}

.publishedSession .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/cloud-check-svgrepo-com.svg);
}

.pauseSession .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/pause-square-svgrepo-com.svg);
}

.shareSession .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/share-svgrepo-com.svg);
}

.addSession .Mui-focused {
  background-color: none !important;
  border: none;
}

.addSession {
  background-color: var(--border-color-1) !important;
  border-radius: 5px;
}

.addSession .css-1qdrhs7-MuiTreeItem-content.Mui-selected {
  background-color: var(--border-color-1) !important;
}

.addSession .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/add-sm-svgrepo-com.svg);
}

.agentIcon .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/ai-svgrepo-com.svg);
}

.responderAgent .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/reply-all-svgrepo-com.svg);
}

.evaluatorAgent .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/evaluate-all-svgrepo-com.svg);
}

.judgeAgent .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/list-task-square-svgrepo-com.svg);
}

.dpAgent .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/processor-svgrepo-com.svg);
}

.historyIcon .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/file-text-svgrepo-com.svg);
}

.trashIcon .MuiTreeItem-iconContainer {
  background: url(./Assets/SVG/trash-blank-alt-svgrepo-com.svg);
}

.css-1qdrhs7-MuiTreeItem-content:hover {
  background-color: var(--bg-color-3) !important;
}

.css-1qdrhs7-MuiTreeItem-content.Mui-selected {
  background-color: var(--bg-color-3) !important;
}

/*                                      CODE VIEW                                      */

.left-container {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-3);
  border: 2px solid var(--border-color-1);
  padding: 10px;
}

.ai-containers {
  margin-bottom: 15px;
}

.accordion {
  --bs-accordion-border-color: var(--bs-border-color) !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}

.ai-accordian {
  width: 300px;
}

.accordion-item {
  background-color: var(--bg-color-2) !important;
  border: 2px solid var(--border-color-2) !important;
}

.accordion-header {
  --bs-accordion-btn-bg: var(--bg-color-2) !important;
  --bs-accordion-active-bg: var(--bg-color-2) !important;
}

.accordion-button {
  color: var(--text-color-1) !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  color: #d4d2d6;
  background-color: #202121;
  border-top: 1px solid var(--border-color-2);
}

.type-style span {
  border: 1px solid var(--border-color-1);
  padding: 3px 5px;
  background: var(--bg-color-3);
  border-radius: 5px;
  font-size: 12px;
}

.automation span,
.accordian-title span {
  font-size: 12px;
  color: var(--text-color-2);
}

.css-i87ffu {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
  /* color: ; */
}

/*                                      SESSIONS                                      */
.main-session-container {
  gap: 20px;
}

.active-mute-sessions {
  width: 834px;
}

button.accordion-button {
  padding: 8px !important;
  font-size: 12px !important;
}

.session-body-content {
  display: grid;
  grid-template-columns: 100px auto 190px 50px;
  align-items: center;
  border-bottom: 2px solid var(--border-color-2);
  padding: 5px 0;
  font-size: 12px;
}

.session-num
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: green !important;
  font-size: 16px !important;
}

.mute-session
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: red !important;
  font-size: 16px !important;
}

.session-cpu-transmission {
  display: flex;
  justify-content: space-between;
}

.cpu svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 16px;
}

.transmission
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 16px;
}

.cpu,
.transmission {
  border: 2px solid var(--border-color-2);
  border-radius: 25px;
  text-align: center;
  padding: 0 8px;
}

.accordion-button {
  flex-direction: row-reverse;
  justify-content: start;
}

.accordion-button::after {
  background-image: url(./Assets/SVG/down-arrow.svg) !important;
  margin-left: 0 !important;
}

.profile-img {
  display: flex;
  justify-content: flex-end;
}

.custom-session-profile {
  height: 25px !important;
  width: 25px !important;
  color: var(--text-color-1) !important;
  background-color: var(--bg-color-5) !important;
  font-size: 9px !important;
}

.session-filter-search {
  width: calc(1144px - 834px - 16px);
  border: 2px solid var(--border-color-2);
}

.search-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border-color-2);
  padding: 2px 8px;
  height: 36px;
}

.search-session input {
  background: transparent;
  border: none;
  color: var(--text-color-1);
  padding: 10px;
}

.search-session input:focus {
  outline: none;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-19bb58m {
  color: var(--text-color-1) !important;
}

.css-q8hpuo-MuiFormControl-root,
.css-13cymwt-control {
  border: 2px solid var(--border-color-2) !important;
}

.css-13cymwt-control {
  background-color: var(--bg-color-2) !important;
  border: 2px solid var(--border-color-2) !important;
  color: var(--text-color-1) !important;
}

.css-t3ipsp-control {
  background-color: var(--bg-color-2) !important;
}

.css-1nmdiq5-menu {
  border: 2px solid var(--border-color-2) !important;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 15px !important;
  width: 15px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 12px !important;
}

.css-t3ipsp-control {
  box-shadow: 0 0 0 1 var(--border-color-2) !important;
  border-color: var(--border-color-2) !important;
}

.css-1nmdiq5-menu {
  background-color: var(--bg-color-2) !important;
}

.css-d7l1ni-option {
  background-color: #292929 !important;
}

.tags {
  display: inline-block;
  font-size: 12px;
  border: 2px solid var(--border-color-2);
  padding: 1px 5px;
  margin: 6px;
  border-radius: 6px;
}

.selected-tags {
  background-color: #292929;
  border-color: grey;
  position: relative;
}

.selected-tags::after {
  content: "";
  background: var(--text-color-3);
  width: 15px;
  height: 5px;
  position: absolute;
  top: -3px;
  right: 0;
  border-radius: 2px;
}

/*                                      DOCUMENT PROCESS                                      */
.doc-text {
  font-size: 14px;
}

.doc-upload-btn {
  background-color: var(--bg-color-3);
  border: 2px solid var(--border-color-1);
  padding: 0 5px;
  border-radius: 5px;
}

.doc {
  font-size: 12px;
}

.docq-text {
  color: var(--box-shadow-terminate);
  font-weight: 700;
}

span.fileType {
  color: #1ac01a;
}

span.fileSize {
  color: #4d84c3;
}

span.processing-action {
  color: var(--border-process);
}

span.completed-action {
  color: var(--text-color-3);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotate 2s infinite;
  display: inline-block;
  padding: 0 10px;
}

.loader-stop {
  display: inline-block;
  padding: 0 10px;
  transform: rotate(90deg);
}

/*                                      DOCUMENT INDEX                                      */

.doc-index {
  margin-bottom: 8px;
}

.search-index {
  height: 25px;
}

.index-logo {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.index-logo img {
  height: 100%;
  width: 100%;
}

.activeMuteIndex {
  border: 2px solid var(--border-color-2);
  padding: 1px 3px;
  border-radius: 5px;
  margin: 5px;
}

.activeIndex {
  background-color: #0c440c;
  border: 2px solid var(--box-shadow-active);
}

.muteIndex {
  background-color: #464646;
  border: 2px solid var(--box-shadow-terminate);
}

/*                                      DATABASE                                      */

/* .database {
  position: relative;
}

.action {
  padding: 0 5px;
  border-radius: 4px;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 15px;
  transform: translateY(-50%);
}

.action-active {
  border: 2px solid var(--border-active);
  background: var(--bg-active);
  box-shadow: 1px 1px 8px 0px var(--box-shadow-active);
}

.action-processing {
  border: 2px solid var(--border-process);
  background: var(--bg-process);
  box-shadow: 1px 1px 8px 0px var(--box-shadow-process);
}

.action-inactive {
  border: 2px solid var(--border-inactive);
  background: var(--bg-inactive);
  box-shadow: 1px 1px 8px 0px var(--box-shadow-inactive);
}

.action-terminate {
  border: 2px solid var(--border-terminate);
  background: var(--bg-terminate);
  box-shadow: 1px 1px 8px 0px var(--box-shadow-terminate);
} */
